.gh-sidebar {
  width: 20%;
  padding: 15px 40px;
}

.filter-header {
  font-size: 16px;
  color: var(--text-color);
  margin: 4px 0;
}

.filter-subheader {
  font-size: 13px;
  color: var(--text-color);
  margin: 5px 0;
  opacity: 0.8;
}

.form-control {
  margin-bottom: 20px;
}

.form-select {
  width: 75%;
}

.toggle-label {
  font-size: 12px;
  color: wheat;
  opacity: 0.7;
  margin-bottom: 5px;
}
