.gh-sidebar{
    width: 25%;
    padding: 15px 20px;
}

.filter-header{
    font-size: 16px;
    color: #64dd17;
    margin: 4px 0;
}

.filter-subheader{
    font-size: 13px;
    color: #64dd17;
    margin: 5px 0;
    opacity: .8;
}