.list-item {
  display: flex;
  width: 50%;
  padding: 10px 0;
}

.list-header__image {
  height: 100px;
  border-radius: 10px;
  transition: 0.7s;
}

.list-header__image:hover {
  height: 180px;
  border-radius: 2px;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2);
}

.list-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.action-container {
  display: flex;
  margin: 6px 0;
}

.list-header__text {
  font-size: 16px;
  color: whitesmoke;
  text-transform: capitalize;
  margin: 5px 0;
}

.user-following {
  display: flex;
}

.icon {
  margin: 0 5px;
}

.follow-button {
  padding: 2px 12px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: azure;
  background-color: lightseagreen;
  margin: 0 10px;
  border: none;
  font-family: 'Roboto Slab', sans-serif;
  height: 24px;
  line-height: 23px;
  cursor: pointer;
}

.list-body {
  padding: 5px 10px;
}

.list-text {
  display: flex;
  text-align: start;
  padding: 0 10px;
}

.list-text > .list-body__text {
  font-size: 13px;
  opacity: 0.65;
  margin: 5px 0;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: wheat;
}
