main {
  background: rgb(45, 50, 62);
  min-height: 100vh;
}
.App {
  min-height: 100vh;
}


.app-body{
  display: flex;
}

.user-list {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  padding-top: 60px;
}
