html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Slab', serif !important;
}

body{
  --background-light: #223c4d;
  --text-color: #30CD9A;
  --text-color-light: ghostwhite;
  --background: rgb(45, 50, 62);
}

#root {
  height: 100%;
}

.text-color{
  color: var(--text-color);
}
